<!DOCTYPE html>
<html>
<head>
    <title>Chat</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"></script>
</head>
<body>
    <!-- <h1>Chat with {{ receiver }} and {{sender}}</h1>
    <div id="messages"></div>
    <input type="text" id="message" placeholder="Type your message">
    <button onclick="sendMessage()">Send</button> -->
    <div id="chat-container">
        <div id="chat-messages"></div>
        <input type="text" id="message-input" placeholder="Type your message">
        <button onclick="sendMessage()">Send</button>
    </div>

    <script>
        const socket = io.connect('http://localhost:5000'); // Replace with your server URL
    
        // Function to extract sender and receiver from the URL
        function extractSenderReceiverFromURL() {
            const pathParts = window.location.pathname.split('/');
            if (pathParts.length >= 3) {
                const sender = pathParts[2];
                const receiver = pathParts[3];
                return { sender, receiver };
            }
            return { sender: '', receiver: '' };
        }
    
        // Join the private room when the user connects
        socket.on('connect', () => {
            const { sender, receiver } = extractSenderReceiverFromURL();
            const room = `${sender}_${receiver}`;
            socket.emit('join', { room });
        });
    
        // Send a private message
        function sendMessage() {
            const { sender, receiver } = extractSenderReceiverFromURL();
            const message = document.getElementById('message-input').value;
    
            // Emit the private message to the server
            socket.emit('private_message', { sender, receiver, message });
        }
    
        // Receive and display private messages
        socket.on('private_message', (data) => {
            // Handle incoming private messages and display them
            const messagesDiv = document.getElementById('chat-messages');
            messagesDiv.innerHTML += `<p>${data.sender}: ${data.message}</p>`;
        });
    </script>
    
    
</body>
</html>
